.Button{
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 2px;
	&--border{
		border-width:2px;
		border-style: solid;
	}

	&--uppercase{
		text-transform: uppercase;
	}
	
	&--largeSize{
		padding: 15px 30px;
		&.u-hasIcon{
			padding-left: 37px;
		}
		& .u-icon{
			font-size: 20px;
			line-height: 20px;
		}
	}

	&--mediumSize{
		padding: 10px 20px;
		&.u-hasIcon{
			padding-left: 27px;
		}
		& .u-icon{
			font-size: 20px;
			line-height: 20px;
		}
	}

	&--smallSize{
		padding: 5px 10px;
		font-size: 14px;
		&.u-hasIcon{
			padding-left: 17px;
		}
		& .u-icon{
			font-size: 20px;
			line-height: 20px;
		}
	}

	// BUTTON STYLES

	&--style1{
		background: $color_4;
		border: 2px solid $color_4;
		&:hover{
			background: $color_1;
			color: $color_4;
		}
		// & .iconArrowRight{
		// 	@media screen and (min-width: $break-md){
		// 		width: calc(4.16667% * 2);
		// 	}
		// }
	}
	&--style2{
		color: $color_1;
		&:hover{
			background: $color_1;
			border: 2px solid $color_1;
		}
		// & .iconArrowRight{
		// 	@media screen and (min-width: $break-md){
		// 		width: calc(4.16667% * 2);
		// 	}
		// }
	}
	&--style3{
		color: $color_1;
		letter-spacing: 0;
		&:hover{
			color: $color_4;
			background: $color_1;
		}
		// & .iconArrowRight{
		// 	@media screen and (min-width: $break-md){
		// 		width: calc(4.16667% * 2);
		// 	}
		// }
	}
	&--greetings{
		background: $color_5;
		color: $color_0;
		border-color: $color_5;
		&:hover{
			background: transparent;
			color: $color_5;
		}
	}

}