.Site-footer{
    & .Section--footer{
		& .Section{
			&-content{
				@media screen and (min-width: $break-sm){
					padding-bottom: 0px !important;
				}
				&:last-child{
					margin-bottom: 0px;
				}
				&--branding{
					& .Section{
						&-branding{
							&-title{
								font-size: 30px;
							}
						}
					}
				}
				&-resume{
					width: 70%;
				}
			}
			&-header{
				&-title{
					font-size: 22px;
					font-weight: bolder;
				}
			}
			&-items{
				&--redesSociais{
					& .u-icon{
						fill: $color_3;
						font-size: 25px;
						&:hover{
							background: transparent;
							fill: $color_1;
						}
					}
				}
				&-item{
					&-link{
						background: $color_1;
						padding: 5px;
						height: 35px;
						width: 35px;
						border: 2px solid $color_1;
						&:hover{
							background: transparent;
							& .u-icon{
								fill: $color_1;
							}
						}
					}
					&-title{
						color: $color_1;
						font-size: 15px;
					}
				}
			}
		}
		& .u-icon{
			font-size: 18px;
			&--mail{
				@media screen and (min-width: $break-sm){
					font-size: 25px;
				}
			}
		}
	}
}


