.Site-header{
	background: rgba(0,0,0,0);
	position: absolute;

	&-branding{
		max-width: 220px;
		height: 88px;
		font-size: 30px;
		color: $color_1;
		font-weight: 700;
		&-img{
			height: 88px;
		}
		&-figure{
			
		}
		&-type{
			height: 66px;
			width: 205px;
			left: 10px;
			& .ElementImg{
				left: -20px;
				letter-spacing: 4px;
				font-size: 14px;
				color: $color_2;
				font-weight: bold;
			}
		}
	}
	



	
	// ===================
	// CUSTOMIZER
	// ===================

	&-branding{
		height: initial;
		width: initial;
	}

	// ===================
	// CUSTOMIZER - END
	// ===================

	

}
