.Section{
// ===========
// Structure
// ===========

	&-header{
		&-title{
			font-size: $font_size_title_section_m;
			font-weight: normal;
			@media screen and (min-width: $break-sm){
				font-size: $font_size_title_section;
			}
			&--beforeTitleLine{
				position: relative;
				&:before{
					position: absolute;
					display: block;
					left: 50%;
					transform: translateX(-50%);
					bottom:0px;
					width: $sizeColumns_px * 1.5;
					height: 1px;
					content: "";
				}
			}
		}

		&-subtitle{
			font-size: $font_size_subtitle_section;
			margin: 0px;
			padding: 0px;
			font-weight: bolder;	
			font-size: $font_size_subtitle_section;

		}
	}
	&-grid{
		@media screen and (min-width: $break-md){
			padding-left: 0px !important;
			padding-right: 0px !important;
		}
		&-subtitle{
			font-size: $font_size_subtitle_section;
			color: $color_1;
		}

	}

		& .Section-items{
			&-item{
				&-title{
					font-size: $font_size_title_item;
				}
				&-subtitle{
					font-size: $font_size_subtitle_item;
				}
				&-resume{
					font-size: $font_size_resume_item;
				}
				&-text{
					font-size: $font_size_text;
				}

				&--divisor{
					//padding-right: 15px;
					//margin-right: 15px;
					position: relative;
						&:before{
							position: absolute;
							display: block;
							width: 1px;
							height: 50%;
							background: $color_6;
							top: 50%;
							-moz-transform: translateY(-50%);
							-webkit-transform: translateY(-50%);
							transform: translateY(-50%);
							right: -0.5px;
							content: "";
							z-index: 2;
						}
				}

			}


		}

	


	// =============
	// STYLES
	// =============
	&--style1{ //<section> style section
		color: $color_8;
		background: $color_1;
		& .Section-header{
			&-title{
				color: $color_8;
				&--beforeTitleLine{
					&:before{
						background: $color_8;
					}
				}
			}
			&-subtitle{
				color: $color_8;
				font-size: 20px;
			}
		}

		& .Section{
			&-header{
				&-title{
					color: $color_1;
					font-weight: bolder;
					@media screen and (min-width: $break-md){
					}
					&--beforeTitleLine{
						&:before{
							background: $color_8;
						}
					}
				}
				&-subtitle{
					color: $color_8;
					font-weight: bolder;
				}
			}
		}
		& .Section-items{
			&-item{
				&-figure{
					& .FigureIcon{}
				}
				&-title,
				&-title a{
					color: $color_2;
					@media screen and (min-width: $break-sm){
						padding-bottom: $v_spacing / 6;
					}
				}
				&-subtitle{
					color: $color_2;
				}
				&-resume{
					color: $color_8;
				}

				&-caption{
					background: rgba(0,0,0,0.5);
					@media screen and (min-width: $break-sm){
						text-align: left;
					}
					& .title{
						color: $color_1;
					}
					& .ReadMore--border{
						color: $color_1;
						border-color: $color_1;
						background: none;
					}
					&--light{
						background: none;
					}

				}
			}
		}
	}
	
	&--style2{ //<section> style section
		color: $color_1;
		background: $color_3;
		& .Captions{
			&-title{
				font-size: $font_size_title_section_m;
				@media screen and (min-width: $break-sm){
					font-size: $font_size_title_site / 1.5;
				}
				@media screen and (min-width: $break-md){
					font-size: $font_size_title_site;
				}
			}
		}
		& .Section-header{
			&-title{
				color: $color_1;
				&--beforeTitleLine{
					&:before{
						background: $color_1;
					}
				}
			}
			&-subtitle{
				color: $color_1;
			}
		}
		& .Section-items{
			&-item{
				&-title{
					color: $color_3;
				}
				&-subtitle{
					color: $color_1;
				}
				&-resume{
					color: $color_1;
				}
			}
		}
		& .u-icon{
			fill: $color_1;
		}
	}
	&--style3{ //<section> style section
		color: $color_1;
		background: $color_3;
		& .Section-header{
			&-title{
				color: $color_2;
			}
			&-subtitle{
				color: $color_2;
			}
		}
		& .Section-items{
			&-item{
				&-figure{
					& .FigureIcon{}
				}
				&-title{
					color: $color_2;
				}
				&-subtitle{
					color: $color_1;
				}
				&-resume{
					color: $color_1;
				}
			}
		}
	}


	// ===================
	// CUSTOMIZER
	// ===================

		//COMECE AS ALTERAÇÕES SASS AQUI

	// ===================
	// CUSTOMIZER - END
	// ===================

	
	// continued with .Section


	// =================
	// FOOTER
	// =================


	// end class .Section
	}