
//==============================
// Variables
//==============================

//== colors tests =================

//MAIN COLOR PALLETTE
$color_0: #FFFFFF;
$color_1: #000000;
$color_2: #D50C0D; // COR PRIMÁRIA DO SITE
$color_3: #D62027; // COR SECUNDÁRIA DO SITE
$color_4: #47c2ea; // COR TERCIÁRIA DO SITE
$color_5: #3F9A3D; // COR CTA
//TONS DE CINZA
$color_6: #999999; // Super escuro
$color_7: #b6b6b6; // Escuro
$color_8: #D4D4D4; // Claro
$color_9: #f9f9f9; // Super claro

//CUSTOMIZER
$color_10: #002a47; //Tom de cinza
$color_11: #1E1E23; //VERMELHO VINHO INTRO PAGE



//== Utilities =================
//Colors
$cor_lilas: #4f4872;
$cor_yellow: #feb933;

//Fonts
$fontFamily: 'Nunito', sans-serif;
$font_size_text: 15px;
$font_size_title_site: 49px;
$font_size_title_section: 42px;
$font_size_title_section_m: 25px;
$font_size_subtitle_section: 20px;
$font_size_title_item: 20px;
$font_size_subtitle_item: 16px;
$font_size_resume_item: 15px;
$line_height: 120%;

//== Layout =====================
//Regular Content
$h_spacing: 4.166666666666667%;
$v_spacing: 37.5px;

//== Sizes =====================

//Natural
$numColumns: 24;
$sizeColumns: 4.166666666666667%;
$sizeColumns_px: 50px;

//HEADER HEIGHTS
$header_height_m: 70px;
$header_height: $header_height_m * 1.25;
$header_height_tablet: 100px;
$header_height_d: 100px;


//==============================
// Components
//==============================



//==============================
// Variables in queries
//==============================

$break-xs: 480px;
$break-sm: 768px;
$break-md: 960px;
$break-lg: 1200px;
$break-ex: 1400px;

$break-figma: 1600px;


//==============================
// Animate
//==============================
$time_animate: 0.5s; 