
.u-flexItensCenter{
	
}
.u-alignCenter{
	text-align: center;
	&--mobile{
		@media screen and (max-width: $break-sm){
			text-align: center;
		}
	}
}
.u-alignLeft{
	text-align: left;
}
.u-alignRight{
	text-align: right;
}
.u-alignJustify{
	text-align: justify;
}

.u-absoluteCenter{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.u-absoluteCenterMiddle{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.u-absoluteRightMiddle{
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
}

.u-absoluteLeftMiddle{
	position: absolute;
	left: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.u-absoluteMiddle{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.u-absoluteTopLeft{
	position: absolute;
	top: 0px;
	left: 0px;
}
.u-absoluteTopRight{
	position: absolute;
	top: 0px;
	right: 0px;
}

.u-absoluteTopCenter{
	position: absolute;
	left: 50%;
	top: 0px;
	transform: translateX(-50%);
}

.u-absoluteTop{
	position: absolute;
	top: 0px;
}

.u-absoluteBottomCenter{
	position: absolute;
	left: 50%;
	bottom: 0px;
	transform: translateX(-50%);
}

.u-left0{
	left: 0px;
}