.u-displayBlock{
	display: block;
}
.u-displayFlex{
	display: flex;
}
.u-displayInlineBlock{
	display: inline-block;
}
.u-displayTable{
	display: table;
}
.u-displayInlineTable{
	display: inline-table;
}
.u-displayNone{
	display: none;
}
