.u-borderRadius5{
	border-radius: 5px;
	&--top{
		border-radius: 5px 5px 0px 0px;
	}
	&--right{
		border-radius: 0px 5px 5px 0px;
	}
	&--bottom{
		border-radius: 0px 0px 5px 5px;
	}
	&--left{
		border-radius: 5px 0px 0px 5px;
	}
}
.u-borderRadius10{
	border-radius: 10px;
}
.u-borderRadius20{
	border-radius: 20px;
}
.u-borderRadius30{
	border-radius: 30px;
}
.u-borderRadius40{
	border-radius: 40px;
}
.u-borderRadius50{
	border-radius: 50px;
}
.u-borderRadius60{
	border-radius: 60px;
}
.u-borderRadius70{
	border-radius: 70px;
}
.u-borderRadius80{
	border-radius: 80px;
}
.u-borderRadius90{
	border-radius: 90px;
}
.u-borderRadius100{
	border-radius: 100px;
}

//Border Solid

$varWeight: 1px;

.u-borderSolid#{$varWeight}{
	border: $varWeight solid $color_11;
	&--color_1{
		border: $varWeight solid $color_1;
	}
	&--color_9{
		border: $varWeight solid $color_9;
	}
}

$varWeight: 2px;

.u-borderSolid#{$varWeight}{
	border: $varWeight solid $color_11;
	&--color_1{
		border: $varWeight solid $color_1;
	}
	&--color_9{
		border: $varWeight solid $color_9;
	}
}

$varWeight: 3px;

.u-borderSolid#{$varWeight}{
	border: $varWeight solid $color_11;
	&--color_1{
		border: $varWeight solid $color_1;
	}
	&--color_9{
		border: $varWeight solid $color_9;
	}
}

.u-boxShadow{
	box-shadow: 0px 0px 55px -11px rgba(0,0,0,0.25);
	&--hover{
		&:hover{
			box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
		}
	}
	@media screen and (min-width: $break-sm){
		box-shadow: 0px 0px 55px -11px rgba(0,0,0,0.25);
		&--hover{
			&:hover{
				box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25);
			}
		}
	}
	&--clean{
		-moz-box-shadow: 0px 5px 45px -10px rgba(0,0,0,0.25);
		-webkit-box-shadow: 0px 5px 45px -10px rgba(0,0,0,0.25);
		box-shadow: 0px 5px 45px -10px rgba(0,0,0,0.25);
		&--bottom{
			-moz-box-shadow: 0px 15px 60px -10px rgba(0,0,0,0.15);
			-webkit-box-shadow: 0px 15px 60px -10px rgba(0,0,0,0.15);
			box-shadow: 0px 15px 65px -5px rgba(0,0,0,0.15);
		}
	}
}
.u-onlyMobile{
	@media screen and (min-width: $break-sm){
		display: none;
	}
}
.u-onlyDesktop{
	@media screen and (max-width: $break-sm){
		display: none;
	}
}
.u-onlyIpad{
	display: none;
	@media screen and (min-width: $break-sm){
		display: initial;
	}
	@media screen and (min-width: $break-md){
		display: none;
	}
}
.u-onlyIpadFlex{
	display: none;
	@media screen and (min-width: $break-sm){
		display: flex;
	}
	@media screen and (min-width: $break-md){
		display: none;
	}
}
.u-DesktopAndIpad{
	display: none !important;
	@media screen and (min-width: $break-sm){
		display: initial !important;
	}
}
.u-DesktopAndIpadBlock{
	display: none !important;
	@media screen and (min-width: $break-sm){
		display: block !important;
	}
}
.u-DesktopAndIpadFlex{
	display: none !important;
	@media screen and (min-width: $break-sm){
		display: flex !important;
	}
}
.u-DesktopAndIpadTableCell{
	display: none !important;
	@media screen and (min-width: $break-sm){
		display: table-cell !important;
	}
}
.u-DesktopAndIpad{
	display: none;
	@media screen and (min-width: $break-sm){
		display: initial;
	}
}
.u-DesktopAndIpadFlex{
	display: none;
	@media screen and (min-width: $break-sm){
		display: flex;
	}
}
.u-MobileAndIpad{
	display: initial;
	@media screen and (min-width: $break-md){
		display: none;
	}
}
.u-MobileAndIpadFlex{
	display: flex;
	@media screen and (min-width: $break-md){
		display: none;
	}
}

.u-MobileAndDesktop{
	display: initial;
	@media screen and (min-width: $break-sm) and (max-width: $break-sm + 1){
		display: none !important;
	}
}
.u-MobileAndDesktopFlex{
	display: flex;
	@media screen and (min-width: $break-sm) and (max-width: $break-sm + 1){
		display: none !important;
	}
}

//CLASSES DE LAYOUT DO HEADER

.u-setIntroMargins{
	margin-top: $header_height_m;
	@media screen and (min-width: $break-sm){
		margin-top: $header_height_tablet;
	}
	@media screen and (min-width: $break-md){
		margin-top: $header_height_d;
	}
}

.u-setMainMenu{
	position: fixed;
	left: 0;
	height: 100%;
	overflow: hidden;
	width: 100%;
	display: none;

	top: $header_height_m;
	
	@media screen and (min-width: 1115px){
		top: initial;
		position: relative;
		display: flex;
	}
}

//CLASSES DE LAYOUT DA BARRA DE ROLAGEM

.u-setCustomScrollBar{
	&::-webkit-scrollbar {
		width: 5px;
	}
	/* Track */
	&::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $color_7;
	border: 1px solid $color_6; 
	border-radius: 10px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
	background: $color_6; 
	border-radius: 10px;
	}

	&--style1{
		&::-webkit-scrollbar {

		}
		/* Track */
		&::-webkit-scrollbar-track {

		}
	
		/* Handle */
		&::-webkit-scrollbar-thumb {

		}	
	}

	&--style2{
		&::-webkit-scrollbar {

		}
		/* Track */
		&::-webkit-scrollbar-track {

		}
	
		/* Handle */
		&::-webkit-scrollbar-thumb {

		}	
	}

}
