/**
 * Indicate that interaction will result in an (in)action.
 */

.u-isActionable {
  cursor: pointer !important;
}

.u-cursorPointer {
  cursor: pointer !important;
}

.u-isDisabled {
  cursor: default !important;
}

.u-isDraggable {
  cursor: move !important;
}

/**
 * Completely remove from the flow and screen readers.
 */

.u-isHidden {
  display: none !important;
  visibility: hidden !important;
}

/**
 * Display a hidden-by-default element.
 */

.u-isShown {
  display: block !important;
  visibility: visible !important;
}

table.u-isShown {
  display: table !important;
}

tr.u-isShown,
tr.u-isShown {
  display: table-row !important;
}

td.u-isShown,
th.u-isShown {
  display: table-cell !important;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */

.u-isHiddenVisually {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

/*
  u-isInvisible descontinuado, 
  motivo: Black Hat SEO 

  Se mesmo assim ainda deseja usar essa classe, apenas descomente-a,
  mas as consequências no SEO do seu site serão por sua conta e risco.
*/

// .u-isInvisible {
//   visibility: hidden !important;
//   width: 0px;
//   height: 0px;
//   overflow: hidden;
//   display: block;
// }

.u-isVisible {
  visibility: visible !important;
}

.u-opacity10{
  opacity: 0.1;
}
.u-opacity20{
  opacity: 0.2;
}
.u-opacity30{
  opacity: 0.3;
}
.u-opacity40{
  opacity: 0.4;
}
.u-opacity50{
  opacity: 0.5;
}

.u-opacity60{
  opacity: 0.6;
}
.u-opacity70{
  opacity: 0.7;
}
.u-opacity80{
  opacity: 0.8;
}
.u-opacity90{
  opacity: 0.9;
}
.u-opacity100{
  opacity: 1;
}

.Navigation--menu{
  &--style1{

  } // Style 1

  &--style2{

  } // Style 2
}

/* Control Expand and Collapse */

.u-isCollapsed {

  #icon_open_menu{
    display: block;
  }
  
  #icon_close_menu{
    display: none;
  }

}
.u-isExpanded {

  #icon_open_menu{
    display: none;
  }
  
  #icon_close_menu{
    display: block;
  }

}

// NIVEIS DE NAVEGAÇÃO
.Navigation{

}
     

body.u-isScrollOff{

}
.u-isScrollOn{

}

.u-isOut{

}

.u-overflowHidden{
  overflow: hidden;
}
.u-overflowScroll{
  overflow: scroll;
}
.u-overflowYscroll{
  overflow-y: scroll;
}
.u-overflowXscroll{
  overflow-x: scroll;
}

.u-overflowAuto{
  overflow: auto;
}
.u-overflowYauto{
  overflow-y: auto;
}
.u-overflowXauto{
  overflow-x: auto;
}