.u-lineHeight0{
	line-height: 0;
}

.u-lineHeight100{
	line-height: 100%;
}

.u-lineHeight120{
	line-height: 120%;
}
.u-lineHeight130{
	line-height: 130%;
}
.u-lineHeight140{
	line-height: 140%;
}
.u-lineHeight150{
	line-height: 150%;
}
.u-textParagraph{
	padding-top: 10px;
	padding-bottom: 10px;
}

.u-lineHeightNormal{
	line-height: normal;
}


@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}
	@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito/Nunito-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	}
	
	@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito/Nunito-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	}
	@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito/Nunito-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	}
	@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito/Nunito-SemiBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	}
	@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito/Nunito-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	}
	@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito/Nunito-Bold.ttf') format('truetype');
	font-weight: bolder;
	font-style: normal;
	}

$fonte: "Nunito";

.u-CallFont#{$fonte}{
	font-family: $fonte;
}