.e-Toglle{
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	& .u-icon{
        color: $color_1;
    }
}

.Navigation{
	&--menu{
		&--main{
			background: gray;
			& .Navigation{
				 &-items{
					 &-item{
						 text-align: left;
						 &:last-child{
							 padding-bottom: 0 !important;
						 }
					 }
				 }
			}
			& .NavigationLink{
				font-size: 20px;
			}
		}
	}
}

// ===================
// CUSTOMIZER
// ===================

//DESENVOLVA ALTERAÇÕES AQUI