.Navigation{
	&--menu{
		position:fixed;	
		left: 0px;

		&.Navigation{
			&.Navigation--menu--main{

			}
		}

		.Navigation--menu{

		} //.Navigation--menu

		& .Navigation-items{
			&-item{
				& .NavigationLink{
					&-icon{
						top: 0px;
						height: 26px;
						&--left{
							left: 10px;
						}
						&--right{
							right: -20px;
						}
						& .u-icon{
							font-size: 20px;
						}
					}
				}
			}
		}
		&--style1{
			background: $color_3;
			& .Navigation-items{
				&-item{

				}
			}
			@media screen and (min-width: $break-md){
				background: none;
				& .Navigation-items{
					&-item{

					}
				}
			}
		}
		&--style2{
			background: $color_1;
			& .Navigation-items{
				&-item{

				}
			}
			@media screen and (min-width: $break-md){
				background: none;
				& .Navigation-items{
					&-item{

					}
				}
			}
		}
		@media screen and (min-width: $break-md){
			overflow: visible !important;
		}
	} // Navigation--menu
}

// ===================
// CUSTOMIZER
// ===================

//DESENVOLVA ALTERAÇÕES AQUI